<html lang="en">
<head>
    <title>{{ room_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <div class="screen-wrapper-chatroom">
        <aside class="chatroom-sidebar">
            <p> Welcome to {{ room_name }}</p>
            <a href="{{ url_for('dashboard') }}">Go back to dashboard!</a><br>
            {% if is_room_owner %}
                <button onclick="document.getElementById('invite-user').showModal()">
                    Invite user
                </button><br>
                <button onclick="document.getElementById('delete-chatroom').showModal()">
                    Delete this chatroom
                </button>
            {% endif %}
            <h6>room id: {{room_id}}</h6>
        </aside>
        <main>
            <div id="chat-window" style="position: relative; border: 1px solid #ccc; 
            height: 400px; overflow-y: scroll; display: flex; flex-direction: column; align-items: left;">
                {% for username, msg_content in messages_list %}
                    <p><strong>{{ username }}:</strong> {{ msg_content }}</p>
                {% endfor %}
                <p id="typing-indicator" style="position: absolute; left: 0; bottom: 0;"></p>
            </div>
            <input type="text" id="message-input" placeholder="say something...">
            <button id="send-message">Send</button>
            <div id="room_id" room_id="{{room_id}}"></div>
        </main>
    </div>
    <dialog id="delete-chatroom">
        <p>Delete chatroom? This action cannot be undone!</p><br>
        <form action="{{ url_for('delete_chatroom', room_id=room_id) }}" method="POST">
            <button type="submit">Confirm</button>
            <button type="button" onclick="document.getElementById('delete-chatroom').close()">Cancel</button>
        </form>
    </dialog>
    <dialog id="invite-user">
        <form>
            <label for="invite_username">Invite a friend!</label><br>
            <input name="invite_username" type="text" placeholder="Enter their username" required id="invited-username">
            <button type="submit" id="invite-user-submitbutton">confirm</button>
            <button type="button" onclick="document.getElementById('invite-user').close()">cancel</button>
        </form>
    </dialog>
    <div id="room-name" room_name="{{room_name}}"></div>
    <div id="room-id" room_id="{{room_id}}"></div>
    <div id="current-userid" current_userid="{{current_userid}}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>